[{{ repository_name }}]
enabled={{ repository_enabled }}
autorefresh={{ autorefresh_enabled }}
baseurl={{ repository_baseurl }}
type=rpm-md
priority={{ priority }}
gpgcheck={{ gpgcheck }}
{% if keeppackages is defined %}
keeppackages={{ keeppackages }}
{% endif %}
